<!-- APP INSTALL BAR (SÓ NO NAVEGADOR) -->
<div id="appInstallBar" class="app-install-bar">
  <!-- BOTÃO FECHAR -->
  <button id="closeAppBar" class="app-install-close" aria-label="Fechar">
    <i class="ri-close-line"></i>
  </button>
  <div class="app-install-content">
    <div class="app-icon">
      <img src="images/groq.png" alt="FocoPrime App">
    </div>

    <div class="app-text">
      <strong>FocoPrime IA</strong>
      <span>Tenha uma melhor experiência no app</span>
    </div>

    <a
      href="https://apk.e-droid.net/apk/app3258844-f45kmx.apk?v=7"
      class="app-install-btn"
      target="_blank"
    >
      Baixar App
    </a>
  </div>
</div>
