<!-- ===== UPGRADE PRO MODAL ===== -->
<div id="upgradeModal" class="upgrade-modal">
  <div class="upgrade-box">
    <button class="upgrade-close" id="closeUpgrade">&times;</button>

    <div class="upgrade-header">
      <span class="upgrade-logo">
        <svg  xmlns="http://www.w3.org/2000/svg" width="45" height="45"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M17.31 14H9.72L5.95 2.68A1 1 0 0 0 5 2H2v2h2.28l3.54 10.63A2 2 0 0 0 9.72 16h7.59a2 2 0 0 0 1.87-1.3l2.76-7.35-1.87-.7zM10 18a2 2 0 1 0 0 4 2 2 0 1 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 1 0 0-4"></path><path d="m11.71 7.29-1.42 1.42 2.71 2.7 4.71-4.7-1.42-1.42L13 8.59z"></path>
</svg>
      </span>
      <div class="upgrade-title">
  <h2>Upgrade para</h2>
  <span class="pro-badge">PRO</span>
</div>
      <p>Desbloqueie recursos avançados da FocoPrime IA e tenha acesso total a focoprime</p>
    </div>

    <ul class="upgrade-features">
      <li>
        <span class="material-symbols-rounded">image</span>
        Fotos ilimitadas
      </li>
      <li>
        <span class="material-symbols-rounded">all_inclusive</span>
        Mensagens ilimitadas
      </li>
      <li>
        <span class="material-symbols-rounded">record_voice_over</span>
        Explicação por voz
      </li>
      <li>
        <span class="material-symbols-rounded">spellcheck</span>
        Resolução de textos
      </li>
      <li>
        <span class="material-symbols-rounded">hub</span>
        Modelos ilimitados
      </li>
    </ul>

    <button class="upgrade-btn">
      <span class="material-symbols-rounded">
        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  
fill="currentColor" viewBox="0 0 24 24" >
<!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
<path d="M20.33 3.06a1 1 0 0 0-1.11.32L16 7.4l-3.22-4.02c-.38-.47-1.18-.47-1.56 0L8 7.4 4.78 3.38c-.27-.33-.71-.46-1.11-.32S3 3.58 3 4v15c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-.42-.27-.8-.67-.94M7.22 9.63c.38.47 1.18.47 1.56 0L12 5.61l3.22 4.02c.38.47 1.18.47 1.56 0L19 6.86v8.15H5V6.85l2.22 2.77ZM5 19.01v-2h14v2z"></path>
</svg>
      </span>
      Fazer Upgrade Agora
    </button>

    <span class="upgrade-note">
      Cancelar quando quiser • Seguro • Rápido
    </span>
  </div>
</div>